html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css' integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ' crossorigin='anonymous')
        title Albums
    body
        div(class='container')
            div(class='row')
                div(class='col-sm-6')
                    h3 Spotify
                    if spotify.albums.length < 1
                        p #{albumName} is not available on Spotify
                    else
                        ul 
                            each album in spotify.albums
                                li
                                    a(href=album.external_urls.spotify) #{album.name}
                                    p
                                        img(src=album.images[2].url width=album.images[2].width height=album.images[2].height)
                                    p artists: 
                                        each artist in album.artists
                                            a(href=artist.external_urls.spotify)=artist.name
                div(class='col-sm-6')
                    h3 Apple Music
                    if apple.albums.length < 1
                        p #{albumName} is not available on Apple Music
                    else
                        ul 
                            each album in apple.albums
                                li
                                    a(href=album.collectionViewUrl) #{album.collectionName}
                                    p
                                        img(src=album.artworkUrl60 width='60px' height='60px')
                                    p artists: 
                                        a(href=album.artistViewUrl)=album.artistName
script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
                        