html
    head
        title Albums
        include includes/head.pug
    body
        include includes/navbar.pug
        div(class='container')
            div(class='row')
                div(class='col-sm-6')
                    h3 Spotify
                    if spotify.albums.length < 1
                        p #{albumName} is not available on Spotify
                    else
                        ul(class='list-group') 
                            each album in spotify.albums
                                li(class='list-group-item')
                                    div(class='flex-column')
                                        div
                                            img(src=album.images[2].url width=album.images[2].width height=album.images[2].height)
                                        div 
                                            a(href=album.external_urls.spotify) #{album.name}
                                        div artists: 
                                            each artist in album.artists
                                                a(href=artist.external_urls.spotify) #{artist.name}
                div(class='col-sm-6')
                    h3 Apple Music
                    if apple.albums.length < 1
                        p #{albumName} is not available on Apple Music
                    else
                        ul(class='list-group')
                            each album in apple.albums
                                li(class='list-group-item')
                                    div(class='flex-column')
                                        div
                                            img(src=album.artworkUrl60 width='60px' height='60px')
                                        div
                                            a(href=album.collectionViewUrl) #{album.collectionName}
                                        div by: 
                                            a(href=album.artistViewUrl) #{album.artistName}
include includes/foot.pug                        