html
    head
        title Albums
        include includes/head.pug
    body
        include includes/navbar.pug
        div(class='container')
            div(class='row')
                each api in apis
                    div(class='col-sm-4')
                        h3 #{api.apiName}
                        if api.albums.length < 1
                            p #{queryAlbumName} is not available on #{api.apiName}
                        else
                            ul(class='list-group')
                                each album in api.albums
                                    li(class='list-group-item')
                                        div(class='flex-column')
                                            div
                                                a(href=fetchUrl(album, api.albumUrl, api.albumUrlPrefix, api.albumUrlSuffix))
                                                    img(src=fetchUrl(album, api.imageUrl, api.imageUrlPrefix, api.imageUrlSuffix) width=api.imageWidth height=api.imageHeight)
                                            div 
                                                a(href=fetchUrl(album, api.albumUrl, api.albumUrlPrefix, api.albumUrlSuffix)) #{fetchFromObject(album, api.albumName)}
                                            div artists:
                                                if typeof api.artists !== 'undefined'
                                                    each artist, index in fetchFromObject(album, api.artists)
                                                        if index > 0
                                                            a(href=fetchUrl(artist, api.artistUrl, artistUrlPrefix)). 
                                                                , #{fetchFromObject(artist, api.artistName)}
                                                        else
                                                            a(href=fetchUrl(artist, api.artistUrl, api.artistUrlPrefix)) #{fetchFromObject(artist, api.artistName)}
                                                else
                                                    a(href=fetchUrl(album, api.artistUrl, api.artistUrlPrefix)) #{fetchFromObject(album, api.artistName)}
include includes/foot.pug                        